<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= story_title %></title>
  <style>
    body {
      display: flex;
      justify-content: center;
    }
    article {
      max-width: 800px;
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 21px;
    }
    h1 {
      font-family: serif;
      line-height: 48px;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.84);
      font-weight: 400;
      position: relative;
    }
    p {
      margin-top: 1em;
      letter-spacing: -0.004em;
      line-height: 1.58;
      color: rgba(0, 0, 0, 0.84);
    }
    mark {
      background-color: rgb(222, 243, 255);
    }
    .read-time {
      font-size: 16px;
      font-weight: 300;
      color: rgba(0, 0, 0, .54);
      line-height: 20px;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    }
    .speech-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  </style>
</head>
<body>
  <article>
    <h1 class="js-story-title"><%= story_title %></h1>
    <div class="read-time"><%= read_time %> min read</div>
    <%= story_paragraphs.join("\n") %>
  </article>
  <script type="text/javascript">
    var synth = window.speechSynthesis;

    function onVoicesLoaded () {
      var voice = synth.getVoices().find(function (voice) {
        return voice.name === 'Katya'
      });
      if (!voice) return;

      var $title = document.getElementsByClassName('js-story-title')[0];
      if (!$title) return;

      var $speechButton = document.createElement('button');
      $speechButton.innerText = 'голос';
      $speechButton.type = 'button';
      $speechButton.classList.add('speech-button')

      var utterance = new SpeechSynthesisUtterance('<%= story_text.gsub(/["']/, '').split("\n").join(' ') %>');
      utterance.voice = voice;
      utterance.pitch = 1;
      utterance.rate = 1;
      utterance.volume = 0.3;
      $speechButton.addEventListener('click', function (e) {
        if (synth.paused) {
          synth.resume();
          $speechButton.innerText = 'пауза';
        } else if (synth.speaking) {
          synth.pause();
          $speechButton.innerText = 'голос';
        } else {
          synth.cancel();
          synth.speak(utterance);
          $speechButton.innerText = 'пауза';
        }
      });

      $title.appendChild($speechButton);
    }

    if (synth) {
      synth.addEventListener('voiceschanged', onVoicesLoaded);
    }
  </script>
</body>
</html>
